aws_cdk.aws_iam
aws_cdk.aws_ec2
aws_cdk.aws_ecs 
aws_cdk.aws_ecs_patterns
aws_cdk.aws_apigatewayv2
aws_cdk.aws_apigatewayv2_integrations
aws_cdk.aws_lambda
aws_cdk.aws_dynamodb
aws_cdk.aws_s3
aws_cdk.aws_ecr
aws_cdk.pipelines

